
 @font-face {
    font-family: "Manrope";
    src: url('/font/Manrope-Regular.ttf');
 }

 body{
    font-family: "Manrope";
 }
main{
    .obertura_1col{
        display: flex;
        section{
            margin: 50px 0;
        }
    }
    
}
h1{
    text-align: center;
}
header{
    div{
        div{
            margin: 40px 60px 40px 60px;
            display: flex;
            justify-content: space-between;
            position: relative;
            a{
                z-index: 1;
                display: flex;
                justify-content: center;
                .logo_principal{
                    width: 250px;
                }
            }
            nav{
                align-self: center;
                position: absolute;
                width: 100%;
                display: flex;
                justify-content: center;
                ul{
                    list-style-type: none;
                    display: flex;
                    padding: 0;
                    li{
                        &:not(:first-child){
                            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAiIGhlaWdodD0iMSIgdmlld0JveD0iMCAwIDYwIDEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxsaW5lIHkxPSIwLjUiIHgyPSI2MCIgeTI9IjAuNSIgc3Ryb2tlPSIjM0UzRTNFIi8+Cjwvc3ZnPgo=);
                            background-repeat: no-repeat;
                            background-position: 20px center;
                            padding-left: 100px;
                        }
                        a{
                            color: #3E3E3E;
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            ul{
                z-index: 1;
                list-style-type: none;
                li{
                    a{
                        text-decoration: none;
                        color: #3E3E3E;
                        &:hover{
                            text-decoration: underline;
                        }
                        span{
                            padding-left: 20px;
                            &.activo{
                                background-image: url(../assets/flechita.svg);
                                background-repeat: no-repeat;
                                background-position-y: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .projecte{
        flex-basis: 20%;
        text-align: center;
        .img_projecte{
            margin: 0;
            img{
                width: 250px;
                height: 250px;
            }
            
        }
    }
}


//Slider
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  /* Hide the images by default */
  .mySlides {
    
  }

/* Next & previous buttons */
.slideshow-container .prev, .slideshow-container .next {
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 20px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

//Doble Columna

section.doble_col{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 900px;
    margin: 2em auto;
    div.texto_2col{
        max-width: 190px;
    }
    figure{
        
        img{
            max-width: 560px;
        }
    }
   
}

.xarxes_vertical{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-orientation: upright;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        list-style-type: none;
        li{
            padding: 0;
            
            &:not(:first-child){
                background-image: url(../assets/linea_abajo.svg);
                background-repeat: no-repeat;
                background-position: center 20px;
                padding-top: 100px;
            }
            a{
                color: #3E3E3E;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
.contactes_vertical{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-orientation: upright;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        list-style-type: none;
        li{
            padding: 0;
            
            &:not(:first-child){
                background-image: url(../assets/linea_abajo.svg);
                background-repeat: no-repeat;
                background-position: center 20px;
                padding-top: 100px;
            }
            a{
                color: #3E3E3E;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
.obertura{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .obertura_1col{
            display: flex;
            text-align: center;
            align-self: center;
            justify-content: center;
            figure{
                &.inactivo{
                    display: none;
                }
                &.activo{
                    display: flex;
                }
            }

            div{  
                align-self: center;
                &:first-child{
                    margin-right: 90px;
                }
                &:last-child{
                    margin-left: 90px;
                }
                p{
                    font-size: 18px;
                    max-width: 237px;
                }
            }
    }
    
    .titol_obertura{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 115%;
        color: #3E3E3E;
        max-width: 1008px;
        align-self: center;
    }
    svg{
        align-self: center;
    }
}